body {
    background-color:goldenrod;
}

h1 {
    color: rgb(0, 0, 0);
    font-family: "Lucida Console", "Courier New", monospace;
}

.every-even li:nth-child(1n) {
    background-color: goldenrod;
}
.every-even li:nth-child(2n) {
    background-color:whitesmoke;
}


table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid black;
    font-style: italic;
}

tr:nth-child(even) {
    background-color: whitesmoke;
}

tr:hover {
    background-color: grey;
}

h2, h1 {
    padding: 8px;
    text-align: right;
    border-bottom: 1px solid black;
    font-family: "Lucida Console", "Courier New", monospace;
}
